{#include base}
  {#body}
    <h2>Login</h2>
    <form method="post" action="/login">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required><br>
      <button type="submit">Login</button>
    </form>
    <a href="/signup">Signup</a>
  {/body}
{/include}