{#include base}
  {#body}
    <h2>Sign up</h2>
    <form method="post" action="/signup">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required><br>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required><br>
      <button type="submit">Submit</button>
    </form>
  {/body}
{/include}