{#include base}
    {#userInfo}
      {#if user}
          <p class="h4" style="color:white">Hello! {user.username}</p>
          <a href="/logout" class="btn btn-secondary" role="button" aria-disabled="true">log off</a>
      {#else}
          <a href="/login" class="btn btn btn-success" role="button" aria-disabled="true">login</a>
          <a href="/signup" class="btn btn-secondary" role="button" aria-disabled="true">sign up</a>
      {/if}
    {/userInfo}
  {#body}
  <h2>{msg:welcome}</h2>
  <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="../images/pets.png"/>
      </div>

      <h2>Login</h2>

      {#if user}
          <p>Hello! {user.username}</p>

      {#else}
          <form method="post" action="/login">
              <label for="username">Username:</label>
              <input type="email" id="username" name="username" required><br>
              <label for="password">Password:</label>
              <input type="password" id="password" name="password" required><br>
              <button type="submit">Login</button>
          </form>
      <a href="/signup">Signup</a>
      {/if}
  </div>
  {/body}
{/include}